<div class="row">
    <div class="col">
        <section>
            <div class="row">
                <div class="col-md-4">
                    <h1>LISTE DES UTILISATEURS</h1>
                </div>
            
                <div class="col-md-6">
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" (click)="redirectNewUserPage()">Ajout utilisateur</button>
                </div>
            </div>
        </section>
        <section class="main">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of utilisateurs">
                        <td>{{u.id}}</td>
                        <td>{{u.firstname}}</td>
                        <td>{{u.lastname}}</td>
                        <td>{{u.gender}}</td>
                        <td>{{u.address.streetNumber}}, {{u.address.street}}, {{u.address.city}}, {{u.address.zipcode}}, {{u.address.country}}</td>
                        <td>{{u.email}}</td>
                        <button type="button" class="btn btn-success" (click)="editUser(u)">Editer</button>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
